<%- include('layouts/sidebar')  %>
<%- include('layouts/navbar')  %>
<div id="isi" style="background-color:  #F4F5F7;;">
<div class="container px-5" >
    <div class="breadcumb pt-4">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Cars</a></li>
              <li class="breadcrumb-item"><a href="#">List Cars</a></li>
              <li class="breadcrumb-item active" aria-current="page">Edit Car</li>
            </ol>
        </nav>
    </div>
    
    <div class="d-flex align-items-center justify-content-between mb-2">
        <h4>Edit Car</h4>
    </div>
    <form action="/update/<%= car._id %>" method="post" id="add-form" enctype="multipart/form-data" class="p-3" style="background-color: white;">
        <div class="d-flex align-items-center mb-2">
            <label for="nama" class="form-label d-flex w-25">Nama <p style="color: red;">*</p> </label>
            <input type="text" class="form-control w-50 " name="nama" value="<%= car.nama %>" required/>
        </div>
        <div class="d-flex align-items-center mb-2">
            <label for="harga" class="form-label d-flex w-25">Harga <p style="color: red;">*</p> </label>
            <input type="text" class="form-control w-50 " name="harga" value="<%= car.harga %>" required/>
        </div>
        <div class="d-flex align-items-center mb-2">
            <label for="image" class="form-label d-flex w-25" aria-describedby="emailHelp">Foto <p style="color: red;">*</p> </label>
            <div class="ket  w-50">
                <input type="file" class="form-control " name="image">
                <div id="emailHelp" class="form-text">File size max. 2MB</div>
                <img src="/<%= car.image %>" width="100" class="img-thumbnail mt-1"/>
            </div>
        </div>
        <input type="hidden" name="old_image" value="<%= car.image %>"/>
        <div class="d-flex align-items-center py-2">
            <label for="exampleInputEmail1" class="form-label d-flex w-25">Start Rent </label>
            <label for="exampleInputEmail1" class="form-label d-flex w-25">- </label>
        </div>
        <div class="d-flex align-items-center py-2">
            <label for="exampleInputEmail1" class="form-label d-flex w-25">Finish Rent </label>
            <label for="exampleInputEmail1" class="form-label d-flex w-25">- </label>
        </div>
        <div class="d-flex align-items-center py-2">
            <label for="exampleInputEmail1" class="form-label d-flex w-25">Created at </label>
            <label for="exampleInputEmail1" class="form-label d-flex w-25">- </label>
        </div>
        <div class="d-flex align-items-center py-2">
            <label for="exampleInputEmail1" class="form-label d-flex w-25">Updates at </label>
            <label for="exampleInputEmail1" class="form-label d-flex w-25">- </label>
        </div>
        <div class="d-flex py-3">
            <button class="btn btn-outline-primary" id="cancel">Cancel</button>
            <button type="submit" name="submit" class="btn btn-primary ms-3" id="save">Update Car</button>
        </div>
    </form>
</div>
</div>
<%- include('layouts/footer')  %>
